<hr>
<div style="display: flex;justify-content: space-between; margin: 0 5%;">
    <div>
        <h3> <b>UCHAMP ONE</b> </h3>
        <p>Uchamp Academy</p>
        <p>Uchamp Campus</p>
        <p>Uchamp Seek</p>
    </div>

    <div>
        <h3> <b> Explore</b> </h3>
        <p>community</p>
        <p>workshops</p>
        <p>Events</p>
        <p>Projects</p>
        <p>Blog</p>
    </div>

    <div>
        <h3> <b> Let's Team Up</b></h3>
        <p>Join as industry mentor </p>
        <p>join as faculty trainer</p>

        <div style="display: flex;justify-content:space-evenly ;margin-top: 25%;">
            <a href=""><i class="fa-brands fa-2x fa-instagram-square social "></i></a>
            <a href=""><i class="fa-brands fa-2x fa-linkedin social"></i></a>
            <a href=""><i class="fa-brands fa-2x fa-facebook-square social"></i></a>
            <a href=""><i class="fa-brands fa-2x fa-twitter-square social"></i> </a>
            <a href=""><i class="fa-brands fa-2x fa-whatsapp-square social"></i></a>
        </div>
    </div>

    <div>
        <h3> <b> Resourses</b> </h3>
        <p>About</p>
        <p>Contact</p>
        <p>Career</p>
        <p>Terms of Use</p>
        <p>Privacy Policy</p>
    </div>
</div>

<hr>

<div style="display: flex;justify-content: center;">
    <div>@ copyright uchamp All rights reserved </div>
</div>