<div style="margin: 0% 0% 0% 0%;padding: 8% 3% 2% 5%;">
    <h1 style="padding-top: 16px;"> UChamp for All</h1>
    <h2>No matter where you are in the journey of building your career. We are with you at every step. </h2>

    
    <div style=" display: flex;flex-wrap: wrap; align-items: center;justify-content: space-around;">
        <div class="forallcard">
            <h2>UChamp Junior</h2>
            <p>UChamp Junior is a track designed and developed for students of grade 7th to 12th.</p>
            <button class="hvrbtn" mat-raised-button>Explore Now</button>
        </div>

        <div class="forallcard">
            <h2>UChamp Senior</h2>
            <p>UChamp Seniors is a track designed and developed for students undergoing UG/PG. </p>
            <button class="hvrbtn" mat-raised-button>Explore Now</button>
        </div>

        <div class="forallcard">
            <h2>UChamp Fresher </h2>
            <p>UChamp Freshers is a track designed and developed for early professionals.</p>
            <button class="hvrbtn" mat-raised-button> Explore Now</button>
        </div>

    </div>
</div>