.hvrbtn{
    background-color:#f05d4d ;
}

.hvrbtn:hover{
    // color: white;
    background-color: #f37769;
    }
.forallcard{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    margin: 10px;
    max-width: 300px;
    padding: 2%;
    text-align: center;
    border-radius: 5% 25% 15% 35%;
<<<<<<< HEAD
    background-color: #facf5f;
=======
    background-color: #c3e6e0;
    // background-image: radial-gradient(white,#c3e6e0);
    background-image:radial-gradient(rgba(250, 207, 95,0.8),rgba(240, 93, 77,1));

>>>>>>> aaad4ae (curveadded)
    border:1px dashed black; 
    // min-height:200px ;
}
.forallcard h2{
    color: #f04d5d;
}

// .forallcard:hover{
    
// }