<div style="margin: 0% 0% 0% 0%; padding: 0% 3% 2% 8%;  " class="content">
    <h1 class="cent">
        UChamp Community For Life
    </h1>
    <h2 class="cent">
        Learning is for life so does UChamp Community. <br> Now unlock your full potential of growth with the dynamic
        UChamp
        Community.
    </h2>
    <ul>
        <li>
            <span>Engage ---</span>
            <span>
                Engage with fellow champs who have set out on the same journey as you and other peers.
            </span>
        </li>
        <li>
            <span>Collaborate</span>
            <span>
                Collaborate with others and take your knowledge and projects to a whole new level.
            </span>
        </li>
        <li>
            <span> Participate </span>
            <span>Participate in events, workshops and Q&A sessions from top industry leaders. </span>
        </li>
        <li>
            <span>compete </span>
            <span>
                Compete in knowledge quiz and skill hacks and top the leaderboard, level up your profile and earn badges
                to
                showcase your wide array of new skills.
            </span>
        </li>
    </ul>
    <button  class="hvrbtn" mat-raised-button >Join UChamp Community </button>
</div>