<div style="margin: 0% 0% 0% 0%; padding: 1% 5% 2% 5%; background-image:linear-gradient(234deg,#f0edda,#facf5f);">
    <h1>
        The UChamp I2I Formula to Success
    </h1>
    <h2>
        Our I2I Model is engineered to set you up on the right track and take the correct course of action.
    </h2>
    <h1>I2I mODEL</h1>
    <ul>
        <li>
            Formulated in collaboration with Industry
        </li>
        <p>
            Entire curriculum is designed in collaboration with top MNCs and Startups who are the source of employment.
            By this you get to learn the on-demand skills that are industry relevant.
        </p>
        <li>
            Reviewed by Academicians & Experts
        </li>
        <p>
            Every module and project required to acquire a particular skill is structured, gamified and peer reviewed by
            the academicians and experts.
        </p>
        <li>
            Taught by Passionate Faculties and Mentors.
        </li>
        <p>
            Classes are taught by extremely passionate faculties who have undergone a rigid scrutiny and training
            process. Mentored by seasoned experts who have been there and done it.
        </p>
        <li>
            Helped by Global Peer Groups & Communities.
        </li>
        <p>
            You not just learn but build and grow with the help of peer groups and communities in place within and
            outside the platform through project collaboration, events and competitions.
        </p>
        <li>
            Hired by the Industry
        </li>
        <p>
            You learnt and mastered exactly what industry wants. Top MNCs and startups are waiting for you to be in
            their team.
        </p>
    </ul>
    <button class="hvrbtn" mat-raised-button>Explore UChamp One</button>
</div>