<div style="margin: 0% 0% 0% 0%; padding: 3% 5% 2% 5%; background-color:#ec876e;">
    <h1>
        The UChamp I2I Formula to Success
    </h1>
    <h2>
        Our I2I Model is engineered to set you up on the right track and take the correct course of action.
    </h2>
    <h1>I2I mODEL</h1>
    <ul>
        <li>
          <h2 > Formulated in collaboration with Industry </h2> 
        </li>
        <h3>
            Entire curriculum is designed in collaboration with top MNCs and Startups who are the source of employment.
            By this you get to learn the on-demand skills that are industry relevant.
        </h3>
        <li>
          <h2>  Reviewed by Academicians & Experts </h2>
        </li>
        <h3>
            Every module and project required to acquire a particular skill is structured, gamified and peer reviewed by
            the academicians and experts.
        </h3>
        <li>
         <h2>  Taught by Passionate Faculties and Mentors.</h2> 
        </li>
        <h3>
            Classes are taught by extremely passionate faculties who have undergone a rigid scrutiny and training
            process. Mentored by seasoned experts who have been there and done it.
        </h3>
        <li>
          <h2>  Helped by Global Peer Groups & Communities. </h2>
        </li>
        <h3>
            You not just learn but build and grow with the help of peer groups and communities in place within and
            outside the platform through project collaboration, events and competitions.
        </h3>
        <li>
          <h2> Hired by the Industry </h2> 
        </li>
        <h3>
            You learnt and mastered exactly what industry wants. Top MNCs and startups are waiting for you to be in
            their team.
        </h3>
    </ul>
    <button class="hvrbtn" mat-raised-button>Explore UChamp One</button>

    <hr>
</div>