<div class="card" >
    
    <h1>UChamp One </h1>
    <h2>Making the career building process easier than ever before. All that you need is on one platform.</h2>
    <h2>Explore various career options</h2>
    <ul class="anim">
        <li> <h3>Learn new age skills</h3></li>
        <li> <h3>Build One portfolio for life</h3>
        </li>
        <li><h3> Set career goals and track progress</h3>
            </li>
        <li><h3>Connect and interact with learners, mentors and faculties across the globe</h3></li>
        <li><h3>Seek Projects, Freelance work,Internships and land a job</h3></li>
        <li><h3>Tap into UChamp Knowledge Bites with unlimited resources of engaging learning content </h3></li>
    </ul>
</div>
