<div @fade style="margin: 0% 2% 2% 2%; padding: 1% 3% 0% 3%;">
    <h1>UChamp One </h1>
    <h2>Making the career building process easier than ever before. All that you need is on one platform.</h2>
    <h3>Explore various career options</h3>
    <ul class="anim">
        <li>Learn new age skills</li>
        <li>Build One portfolio for life</li>
        <li>Set career goals and track progress</li>
        <li>Connect and interact with learners, mentors and faculties across the globe</li>
        <li>Seek Projects, Freelance work,Internships and land a job</li>
        <li>Tap into UChamp Knowledge Bites with unlimited resources of engaging learning content </li>
    </ul>
</div>
