.anim{
    animation-name: mov;
    animation-duration: 3s;
}
.card{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23) ;
}


@keyframes mov{
    from{
transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@media (max-width:653px){
    .card{
        box-shadow: 0 0 0;
    }
}