<section>
    <div style="display: flex; flex-wrap: wrap; " class="curve">
        <div style="width: 46%;margin: 8% 2% 0% 2%; padding: 3% 3% 0% 3%;">
            <h1>Trying to learn and build your career but feeling stuck on - <br>

                <!-- What to explore? What to do? <br>
                Where to go? or Where to start? -->

            </h1>
            <br>
            <div class="wrapper">
                <div class="words">
                    <span class="anim1">
                        <h1> What to explore ? </h1>
                    </span>
                    <span class="anim1">
                        <h1> What to do ? </h1>
                    </span>
                    <span class="anim1">
                        <h1> Where to go ?</h1>
                    </span>
                    <span class="anim1">
                        <h1> Where to start ? </h1>
                    </span>
                </div>
            </div>
            <br>


            <h2>
                UChamp One is your doorway to end all your career-related worries and start being a champion.
            </h2>
            <button mat-button><a style="text-decoration: none;cursor: pointer;"> Start building your career with
                    UChamp.</a></button>
            <br>
            <br>
            <button mat-raised-button class="hvrbtn">Explore UChamp One &nbsp; <i
                    class="fa-solid fa-2x fa-location-arrow"></i> </button>
        </div>
        <div @fade style="width: 50%; margin: 5% 0 2% 0;display: flex;align-items: center;">
            <img style="width: 80%;" src="../assets/images/uchampsideimage1.png">
        </div>
    </div>

</section>

<div>
    <img src="../assets/images/mobicon.png" (click)="opencontactform()" class="contacticon" alt="">
</div>

<hr>

<app-uchamphomeone></app-uchamphomeone>

<hr>

<app-uchamphomeforall></app-uchamphomeforall>

<hr>

<app-uchampi2iformulae></app-uchampi2iformulae>

<hr>

<app-uchamphomecommunity></app-uchamphomecommunity>

<hr>

<app-uchampknowledgebites></app-uchampknowledgebites>

<hr>

<app-uchampportfolio></app-uchampportfolio>